<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{userData.name}}</h4>
                                <p class="text-secondary mb-1">{{ userData.occupation}}</p>
                                <p class="text-muted font-size-sm">{{ userData.faculty}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nume:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                             <input type="text" value="{{userData?.name}}" [disabled]="!editMode"> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" value="{{userData.email}}" [disabled]="!editMode"> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">An</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" value="{{userData.phone}}" [disabled]="!editMode"> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Specializarea</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" value="{{userData.adress}}" [disabled]="!editMode"> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-info btn-edit" (click)="editData()">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">person</i>Profesor indrumator</h6>
                                <small>Nume</small>
                                <div class=" mb-3">
                                    <h6>{{userData?.teacher_info.name}}</h6>
                                </div>
                                <small>Facultatea</small>
                                <div class=" mb-3">
                                    <h6>{{userData?.teacher_info.faculty}}</h6>
                                </div>
                                <small>Disciplina</small>
                                <div class=" mb-3">
                                    <h6>{{userData?.teacher_info.discipline}}</h6>
                                </div> <small>Email</small>
                                <div class=" mb-3">
                                    <h6>{{userData?.teacher_info.email}}</h6>
                                </div>
                                <div class="name mb-3">
                                    <button mat-raised-button class="contact-button" (click)="contact(userData.teacher_info.email)"> Contact</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">person</i>Statutul lucrarii de licenta</h6>
                                <small>Tema proiectului</small>
                                <div class=" mb-3">
                                    <h6>{{userData.project_info.title}}</h6>
                                </div>
                                <small>Profesor indrumator</small>
                                <div class=" mb-3">
                                    <h6>{{userData.project_info.teacher_name}}</h6>
                                </div>
                                <small>Documente verificate</small>
                                <div class=" mb-3">
                                    <h6  *ngIf="userData.project_info.documents"><i class="material-icons text-info-check mr-2" >check</i> <span class="licenta-text"> Documente verificate</span></h6>
                                    <h6  *ngIf="!userData.project_info.documents"><i class="material-icons text-info-clear mr-2" >clear</i> <span class="licenta-text"> Documente verificate</span></h6>
                           
                                </div> <small>Documentatie</small>
                                <div class=" mb-3">
                                        <h6  *ngIf="userData.project_info.documentation"><i class="material-icons text-info-check mr-2" >check</i> <span class="licenta-text"> finalizata</span></h6>
                                        <h6  *ngIf="!userData.project_info.documentation"><i class="material-icons text-info-clear mr-2">clear</i> <span class="licenta-text">nefinalizata</span></h6>
                               
                                </div>
                                <small>Partea practica</small>
                                <div class=" mb-3">
                                        <h6  *ngIf="userData.project_info.project"><i class="material-icons text-info-check mr-2" >check</i> <span class="licenta-text">finalizata</span></h6>
                                        <h6  *ngIf="!userData.project_info.project"><i class="material-icons text-info-clear mr-2" >clear</i> <span class="licenta-text"> nefinalizata</span></h6>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>