<div class="container-fluid">
    <h1>
        Documente
    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="#"> Formular_pentru_temele_de_licenta-disertatie.docx </a></td>
                <td><a href="#">        <input class="btn btn-primary" id="input-file-id" multiple type="file" />
                    </a></td>
                <td>  <i class="material-icons text-info-check mr-2">clear</i>Validat</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td><a href="#"> Contract_studiu.docx </a></td>
                <td><a href="#"> Incarcat </a></td>
                <td>  <i class="material-icons text-info-clear mr-2">check</i>Validat</td>
            </tr>
        </tbody>
    </table>
</div>