.example-viewport {
    height: 800px;
    width: 100%;
display:inline-block;

}

::ng-deep .cdk-virtual-scroll-content-wrapper {
display:inline-flex;
    height: 500px;
    vertical-align: top;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.assign-button{
    background-color: #17a2b8;
    color:white;
}