<div class="container-fluid" *ngIf="userData.isLoggedIn === true && userData.role.includes('Student')">
    <h4> Lista cu profesori indrumatori pentru programul de licenta:</h4>
    <hr>
    <div class="row">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
            <div class="col-sm-4 mb-3" *cdkVirtualFor="let item of items; let index = index">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i
                                class="material-icons text-info mr-2">person</i>Profesor coordonator {{index + 1}}</h6>
                        <small>Nume</small>
                        <div class="name mb-3">
                            <h6>Stelian Nicola</h6>
                        </div>
                        <small>Facultatea</small>
                        <div class="name mb-3">
                            <h6>Facultatea de Automatica si Calculatoare</h6>
                        </div>
                        <small>Disciplina</small>
                        <div class="name mb-3">
                            <h6>POO</h6>
                        </div> <small>Email</small>
                        <div class="name mb-3">
                            <h6>stelian.nicola@upt.ro</h6>
                        </div>
                        <div class="name mb-3">
                            <button mat-raised-button class="assign-button"> Asignează</button>
                        </div>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>


<div class="container-fluid" *ngIf="userData.isLoggedIn === true && userData.role.includes('Profesor')">
    <h4> Lista cu studenti neasignati pentru programul de licenta</h4>
    <hr>
    <div class="row">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
            <div class="col-sm-4 mb-3" *cdkVirtualFor="let item of items; let index = index">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i
                                class="material-icons text-info mr-2">person</i>Student {{index + 1}}</h6>
                        <small> Nume</small>
                        <div class="name mb-3">
                            <h6>{{item.name}}</h6>
                        </div>
                        <small>Facultatea</small>
                        <div class="name mb-3">
                            <h6>{{item.faculty}}</h6>
                        </div>
                        <small>Disciplina</small>
                        <div class="name mb-3">
                            <h6>{{item.disciplina}}</h6>
                        </div> <small>Email</small>
                        <div class="name mb-3">
                            <h6>{{item.email}}</h6>
                        </div>
                        <div class="name mb-3">
                            <button mat-raised-button class="assign-button" [disabled]="!item.contact"> Contact</button>
                        </div>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>