/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 


html, body { height: 100%;   margin: 0; padding:0;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eeeeee; }
img{ padding:15px;}
.container-fluid{ 
    padding-top:0px;
    margin-top:0px;
}