<div class="container" *ngIf="userData.isLoggedIn">

  <div class="row">
    <div class="col-sm-4 welcome-title">
      <h5> Bun venit, 
        {{ userData.name}}
        !</h5> 
    </div>
  </div>
  </div>

 