<div class="container-fluid">
<nav role="navigation" *ngIf='user?.isLoggedIn; else isNotLoggedIn' class="primary-navigation">
  <ul>
    <li><a  routerLink="/profesori"> <span *ngIf='user.role === "Student"; else isStudent' >Studenti </span>
    <ng-template #isStudent> Profesori</ng-template></a></li>
    <li><a routerLink="/documents">Documente</a></li>
    <li><a routerLink="">Profil</a></li>
  </ul>
</nav>

<ng-template #isNotLoggedIn> 
    <mat-card class="login-class">
        <mat-card-title>AUTENTIFICARE</mat-card-title>
    <mat-card-content class="login-form">
      <p>
        <mat-form-field>
          <input type="text"  [(ngModel)]="loginUserName" matInput placeholder="Username">
        </mat-form-field>
    
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)]="loginPassword">
        </mat-form-field>
      </p>
      <div class="button">
        <button mat-button class="login-button" (click)="login($event)">Login</button>
      </div>
      <div *ngIf="error.length > 0" class="error alert alert-danger" role="alert">
    {{error}}
      </div>
    </mat-card-content>
    </mat-card>
</ng-template>
<router-outlet *ngIf='user?.isLoggedIn'></router-outlet>
</div>

